/*Page setup*/

html {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  max-width: 100%;
  background-color: white;
}

body {
  max-width: 100%;
  margin: 0;
}

/*Header*/
.header,
.small-header-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

/*Menu*/
.side-menu {
  display: none;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  position: relative;
}
li a {
  text-decoration: none;
  padding: 1vw 1.5vw 1vw;
  margin: 0 auto;
}
li a:hover {
  text-decoration: underline;
}

.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
}
/*Hero blockfor main page*/

header {
  background-image: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.35) 100%,
      rgba(255, 255, 255, 0.3) 100%
    ),
    url(img/orchid.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

header h1 {
  color: white;
  text-align: center;
  line-height: 1;
  font-size: 8vw;
  font-weight: 900;
  letter-spacing: 0.03em;
  margin-bottom: 0.15vw;
  width: 90%;
}

header h2 {
  font-size: 1.5em;
  font-weight: 400;
  color: white;
  text-align: center;
  font-style: italic;
  line-height: 1.42;
}

/* SECTIONS*/

.section {
  transition: transform 1s, opacity 1s;
}

.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}
/*paragraph-section*/

.paragraph-section {
  width: 60%;
  margin: 6.5vh auto;
  padding: 1.5vw 0 3vw 0;
}

h3 {
  text-align: center;
  font-size: 3.3em;
  font-weight: 100;
  margin-bottom: 0.03vw;
  letter-spacing: 0.01em;
}

p {
  text-align: center;
  font-size: 1.15em;
}

/*section consisting of 3 columns*/

.columns-section {
  background-image: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.7) 100%,
      rgba(255, 255, 255, 0.3) 100%
    ),
    url(img/flower2.jpg);
  background-size: cover;
  padding: 6vw 0 5vw 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.columns {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

h4 {
  color: white;
  font-size: 2em;
  font-weight: 500;
  margin: 0;
}

.column {
  width: 30%;
}
h4 + p {
  color: white;
  text-align: left;
  font-size: 1.1em;
  margin: 1vw auto;
  font-weight: 500;
}

/*Section with the paragraph on the right*/
.right-paragraph-section {
  width: 80%;
  margin: 0 auto;
  padding: 7vw 0 7vw 0;
}
.right-heading {
  color: black;
  font-weight: 500;
}
.right-heading + p {
  color: black;
}

/*Contact form*/
.contact-form {
  width: 100%;
  background-image: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.35) 100%,
      rgba(255, 255, 255, 0.4) 100%
    ),
    url(img/flower4.jpg);
  background-size: cover;
  padding: 4.5vw 0 4.5vw 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.form-wrapper {
  width: 45%;
  margin: 0.7vw auto;
}

.name-email {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0 0 1vw 0;
}

.form-unit {
  width: 47%;
}

input {
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  line-height: 1.3333333;
  padding: 0.7vw 0 0.7vw 1vw;
  background-color: rgba(254, 242, 255, 0.8);
  border: none;
}

.name-email + textarea {
  padding: 3vw;
}

textarea {
  height: 17vw;
  font-size: inherit;
  font-family: inherit;
  padding: 0.7vw;
  width: 99.5%;
  border: none;
  background-color: rgba(254, 242, 255, 0.8);
}

.form-header {
  color: white;
  font-size: 3.5em;
  margin: 1vw auto;
  text-align: center;
}

button {
  display: block;
  font-size: 1.3em;
  font-family: inherit;
  line-height: 1.3333333;
  margin: 0.3vw auto;
  border: 1px solid black;
  padding: 0.7vw 1vw 0.7vw 1vw;
  border: none;
}

button:hover {
  background-color: #221c26;
  color: aliceblue;
}

/* MAILING LIS SECTION */
.mailing-list {
  background-image: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.5) 100%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    url(img/bouqet-m.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  margin-top: 7vh;
}
.mailing-list-container {
  width: 80%;
  margin: 0 auto;
}

.email-input-form input {
  width: 52vh;
  background-color: rgba(254, 242, 255, 0.8);
}

.email-input-form button {
  display: inline-block;
  font-size: 1rem;
  background-color: rgba(254, 242, 255, 0.8);
  border: none;
}
/* SMALL HEADER */

.small-header {
  height: 60vh;
}

.small-header-container {
  height: 65vh;
}
/*contacts*/

.contacts-section-1 {
  width: 80%;
  margin: 0 auto;
  padding-top: 5vh;
  display: flex;
}

.contacts-section-1 iframe {
  width: 50%;
  height: 50vh;
}

/* ABOUT US PAGE */

.about-section {
  display: flex;
  width: 85%;
  padding: 6vh 0 6vh 0;
  margin: 0 auto;
}

.img-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  width: 50%;
  padding: 2vh 5vh 9vh 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-img {
  width: 85%;
  border: 0.7vh solid white;

  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.about-us-section-img h2 {
  text-align: center;
}

.text p {
  font-size: 1rem;
  text-align: left;
}

.text h3 {
  font-size: 1.5rem;
  text-align: left;
}

/* SLIDER */
/* SLIDER */
.slider {
  width: 80%;
  height: 35rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 35rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slider-section p {
  width: 80%;
  margin: 5vh auto;
}

button div {
  font-size: 2rem;
  line-height: 2rem;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.6);
  font-family: "Open Sans", sans-serif;
  color: #333;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  font-size: 2rem;
  cursor: pointer;
  line-height: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  display: block;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

[class^="dots__dot"] {
  border: none;
  background-color: #fcf7ff;
  opacity: 0.7;
  height: 3vh;
  width: 3vh;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

[class^="dots__dot"]:last-child {
  margin: 0;
}

[class^="dots__dot--active"],
.dots__dot--active {
  /* background-color: #fff; */
  background-color: #665370;
  opacity: 1;
}
